name: C Program CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build Docker image
      run: docker-compose build

    - name: Run Unit Tests
      run: docker-compose run --rm tests

    - name: Run Main Program
      run: docker-compose run --rm main
